node_modules
package-lock.json
*.sqlite3
dist

/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
x
# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*


ssh-key.pub
cluster.retry
.vagrant
group_vars/all.yml
inventory
output
*.log
build
ssh-key

kubectl-config
