{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"]
      }
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "jsx-a11y", "prettier"],
  "rules": {
    "semi": 0,
    "react/jsx-indent": ["warn", 2],
    "max-len": ["warn", { "code": 120, "tabWidth": 2 }],
    "no-console": "warn",
    "react/prop-types": [2, { "ignore": ["history"] }],
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-filename-extension": [1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "react/no-set-state": "off",
    "prettier/prettier": ["error"],
    "react/jsx-props-no-spreading": "off",
    "prefer-promise-reject-errors": "off",
    "camelcase": "off"
  }
}
